<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j2ee.mapper.UserMapper">

    <sql id="base_select">
        id, username, sex, mobile, email
    </sql>

    <select id="getUser" resultType="cn.j2ee.entity.User" parameterType="java.util.Map">
        SELECT
        <include refid="base_select"/>
        FROM user
        <where>
            username = #{username} and password = #{password}
        </where>
    </select>

    <select id="checkUser" resultType="int" parameterType="string">
        select count(*) from user
        where username = #{_parameter}
    </select>
</mapper>